<!DOCTYPE html>
<html>

<head>

    <title>Waste Collection Register</title>

    <link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


    <h1>
        Waste Collection Register
    </h1>


    <p>
        Manage waste collection records easily
    </p>


    <div class="buttons">


        <a href="/add">
            <button>
                Add Collection
            </button>
        </a>


        <a href="/records">
            <button>
                View Records
            </button>
        </a>


    </div>


</div>


</body>

</html>